.check{
    height : 10rem;
}
.upperTextSection{
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 700;
    margin : 0.67rem 0;
    box-sizing: inherit;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: left;
    line-height: 45px;
}

.megaSection{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-around;
}

.lowerTextSection{
    margin-top: 0;
    margin-bottom: 24px;
    display: block;
    box-sizing: inherit;
    font-size: 1rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 1.3;
    width: 400px;
    text-align: left;
    line-height: 30px;
}


.joinContainer{
    background-color: #fff;
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 30px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0, .25);
    width : 75%;
    height : 80px;
    border-radius: 13px;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    z-index : 998;
    margin-top: 5rem;
    margin-bottom: 5em;
    position:relative;
}



.joinMain{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pagalBanao{
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
}



.joinMainForm, .innerpagal{
    display: flex;
    align-items: center;
    justify-content: center;
}

.joinCode, .pagalmail {
    display: block;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    padding: 11px 15px;
    margin-right: 10px;
    height: 48px;
    border: none;
    border-radius: 6px;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    background-color: #000000;
    color: #ffffff !important;
    box-shadow: none;
    max-width: 100%;
    width: 100%;
}

.joinButton, .pagalButton{
    border-radius: 6px;
    display: inline-flex;
    font-size: 14px;
    letter-spacing: 0px;
    font-weight: 600;
    line-height: 16px;
    text-decoration: none !important;
    text-transform: uppercase;
    background-color: #242830;
    color: #fff !important;
    border: none;
    cursor: pointer;
    justify-content: center;
    padding: 16px 32px;
    height: 48px;
    text-align: center;
    white-space: nowrap;
}

.animation{
    width: 20em;
}

.line{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.innerLine{
    margin-top: 10px;
    margin-bottom: 2rem;
    width: 80em;
    border: solid black;
}

.voiceStreaming, .videoStreaming, .screenSharing, .chat, .recording, .whiteboard{
    width : 15em;
    height : 15em;
    cursor: pointer;
}

.one, .two, .three{
    display: flex;
    align-items: center;
    flex-direction: column;
    width : 20em;
    height : 20em;
    cursor: pointer;
}

.voiceStreaming, .videoStreaming, .screenSharing, .chat, .recording, .whiteboard {
    transform: translate(-9px, -15px);
}

#nacho:hover {
    animation: shake-circle-01 .1s infinite alternate;
}

@keyframes shake-circle-01 {
    0% { transform: translate(-8px, -14px); }
    33% { transform: translate(-10px, -14px); }
    66% { transform: translate(-10px, -16px); }
    100% { transform: translate(-8px, -16px); }
  }

.layer1, .layer2{
    display: flex;
    justify-content: space-around;
}

.layer0{
    margin-top : 4rem;
    margin-bottom : 3rem;
}

.layer1{
    margin-bottom: 4rem;
}

.layer2{
    margin-bottom: 4rem;
}

#chate{
    margin-right: 20px;
}

.pagaltext{
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.textChange{
    color : #00000095;
}

.typing-animation {
    overflow: hidden; /* hide the text before it's typed */
    display: inline-block; /* make the container size to its content */
    animation: typing 2s steps(3, end); /* apply the animation */
    background: transparent;
    border: 0;
    color: white;
    width: fit-content;
    padding: 0;
    margin: 0;
    font-size: inherit;

  }
  
  @keyframes typing {
    from { width: 0; } /* start with a width of 0 */
    to { width: 100%; } /* end with a width of 100% */
  }