@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Signika+Negative:wght@600&display=swap');

*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.App{
    text-align: center;
}